body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
  }
  
  input[type="text"],
  select {
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 30px;
    border: 3px solid black;
    padding: 7px;
    font-size: 15px;
    text-align: center;
  }
  input[type="checkbox"] {
    margin-bottom: 20px;
  }
  #reset {
    width: 100px;
    height: 30px;
    background-color: rgb(255, 153, 0);
    color: white;
    text-shadow: 2px 2px black;
    font-size: 15px;
    border-radius: 30px;
    transition: 0.1s ease-out;
    margin-bottom: 10px;
  }
  img {
    padding-top: 40px;
    padding-left: 60px;
    padding-bottom: 30px;
    width: 70%;
    height: 70%;
}
.lewy {
  float: left;
  width: 55%;
  display: block;
}
  @keyframes fadeOut {
    0% {
      display: block;
      opacity: 1;
    }
  
    50% {
      display: block;
      opacity: 0.5;
    }
  
    100% {
      display: none;
      opacity: 0;
    }
  }
  